*, *:before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

@keyframes show-new-url {
    from {
        transform: translate(40%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

body {
    background: url("./bg.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

[v-cloak] {
    display: none;
}

.error {color: red;}

.app {
    width: 100vw;
    max-width: 100vw;
}

.wrapper {
    width: 90%;
    max-width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}

.wrapper .column {
    width: 90%;
    max-width: 90%;
    padding: 10px;
}

.wrapper .column:first-child {
    width: 70%;
    max-width: 70%;
    overflow-y: scroll;
    margin-right: 5px;
}

.wrapper .column:nth-child(2){
    background-color: rgb(255, 255, 255);
    height: 70vh;
    max-height: 70vh;
    width: 40%;
    max-width: 40%;
}

.wrapper .column .heading {
    font-size: 2rem;
}

.wrapper .column:first-child .heading {
    color: white;
}

.wrapper .column .divider {
    background-color: rgb(255, 255, 255);
}

.wrapper .column .list {
    width: 90%;
    max-width: 90%;
    margin: 10px 4px;
    list-style: none;
}

.wrapper .column .list .list-item {
    width: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 30px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    animation: show-new-url 0.5s 0s ease;
}

.wrapper .column .list .list-item span{
    font-size: 1.3rem;
}

.wrapper .column .list .list-item:hover {
    background-color: rgba(250, 250, 250, .9);
}

.wrapper .column .list .list-item .item-link{
    text-decoration: none;
    color: rgba(9, 130, 243, 1);
    font-size: 1.2rem;
}

.form {
    width: 65%;
    max-width: 65%;
    margin: 20px 10px;
    padding: 5px;
}

.form .form-group {
    width: 100%;
    max-width: 100%;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
}

.form .form-group label {
    color: #ccc;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;

}

.form .form-group input {
    font-family: 'Nunito', sans-serif;
    outline: none;
    width: 100%;
    max-width: 100%;
    padding: 4px 10px;
    border-radius: 3px;
    background: none;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
    font-size: 1.2rem;
    transition: border 0.2s ease;
}

.form .form-group input:focus {
    border: 1px solid rgba(120, 120, 255, 1);
}

.form .form-group .button {
    width: 100%;
    max-width: 100%;
    padding: 3px 7px;
    line-height: 1.6;
    border: 1px solid rgb(22, 154, 241);
    background-color: rgb(22, 154, 241);
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    transition: box-shadow .4s ease;
}

.form .form-group .button:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}